@import "react-image-gallery/styles/scss/image-gallery.scss";

.view-detail-book {

	.original-image,
	.thumbnail-image {
		cursor: pointer;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.author {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 15px;

		a {
			font-weight: 550;
			cursor: default;
		}
	}

	.name {
		font-size: 25px;
		font-weight: 550;
		margin-bottom: 10px;
	}

	.description {
		line-height: 1.6;
		font-style: italic;
		margin-bottom: 16px;
	}

	.rate {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 10px;
	}

	.price {
		font-size: 25px;
		font-weight: 500;
		color: #007BFF;
		margin-bottom: 10px;
	}

	.delivery,
	.quantity {
		display: flex;
		align-items: center;

		.title {
			color: #6e7276;
			min-width: 100px;
		}

		.content {
			font-weight: 500;
		}
	}

	.buy {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-top: 20px;

		button {
			cursor: pointer;
			padding: 16px 20px;
			color: #fff;
			background: #007BFF;
			border-radius: 3px;
			font-size: 14px;
			border: none;
			border: 1px solid #007BFF;
			transition: all 0.2s ease-in-out;

			&:first-child {
				color: #007BFF;
				background: #e3eef9;
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 5px;
			}

			&:hover {
				opacity: 0.7;
				transform: translateY(-5px);
			}
		}

		@media screen and (max-width: 320px) {
			button {
				font-size: 12px;
				padding: 10px 12px;
			}
		}

	}

}
