.order-container {
	.order-book {
		display: flex;
		gap: 30px;
		margin-bottom: 20px;
		background: white;
		padding: 20px;
		border-radius: 5px;
		position: relative;

		.book-content {
			display: flex;
			align-items: center;
			gap: 15px;
			width: 50%;
			justify-content: start;

			img {
				width: 70px;
				height: 70px;
			}

			.info {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.title {
					font-weight: 500;
				}
			}
		}

		.action {
			width: 50%;
			gap: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.quantity {
				display: flex;
				gap: 10px;
				align-items: center;
			}
		}
	}

	@media screen and (max-width: 480px) {
		.order-book {
			flex-direction: column;

			.book-content {
				width: 100%;
			}

			.action {
				margin-left: 10px;
				width: 100%;
				flex-direction: column;
				align-items: start;

				.quantity {
					display: flex;
					margin-bottom: 10px;
				}

				.sum {
					font-size: 18px;
				}

				.remove {
					position: absolute;
					right: 25px;
					bottom: 20px;
					font-size: 16px;
				}
			}
		}
	}

	.order-sum {
		display: flex;
		flex-direction: column;
		background-color: white;
		padding: 20px;
		border-radius: 5px;
		gap: 20px;

		.calculate {
			display: flex;
			justify-content: space-between;

			.sum-final {
				color: #007bff;
				font-size: 22px;
				font-weight: 400;
			}
		}

		button {
			margin-top: 15px;
			background-color: #007bff;
			color: #fff;
			border: 1px solid #007bff;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
			cursor: pointer;
			border-radius: 3px;
			font-size: 16px;
			height: 40px;
			padding: 0 20px;

			&:hover {
				background-color: #007bff;
			}
		}

		.info,
		.method,
		.address {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}

	.order-steps {
		background: white;
		padding: 15px;
		border-radius: 5px;
		margin-bottom: 10px;
	}
}
